

/* Campos de texto */
.text-field, .text-area, .combo-box {
    -fx-border-color: #C60000; /* Red Pepper */
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.text-field:focused, .text-area:focused, .combo-box:focused {
    -fx-border-color: #805A3B; /* Driftwood */
}

/* Botones */
.button {
    -fx-background-color: #C60000; /* Red Pepper */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-padding: 5 15; /* Ajuste para reducir el ancho */
}

.button:hover {
    -fx-background-color: #FD974F; /* Onion */
}

.button:pressed {
    -fx-background-color: #805A3B; /* Driftwood */
}

/* ComboBox */
.combo-box {
    -fx-padding: 5; /* Ajuste de tamaño */
}


